@font-face {
    font-family: 'univiaPro';
    src: url('./univiapro-regular-webfont.woff2') format('woff2'),
         url('./univiapro-regular-webfont.woff') format('woff');
         font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'univiaPro';
    src: url('./univiapro-medium-webfont.woff2') format('woff2'),
         url('./univiapro-medium-webfont.woff') format('woff');
         font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'univiaPro';
    src: url('./univiapro-black-webfont.woff2') format('woff2'),
         url('./univiapro-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'univiaPro';
    src: url('./univiapro-bold-webfont.woff2') format('woff2'),
         url('./univiapro-bold-webfont.woff') format('woff');
         font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'univiaPro';
    src: url('./univiapro-light-webfont.woff2') format('woff2'),
         url('./univiapro-light-webfont.woff') format('woff');
         font-weight: 300;
    font-style: normal;

}